.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.App-header {
  background-color:tomato;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.gallery{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.imageText, .galleryItem img{
  width: 200px;
  height: 200px;
  padding: 20px;
  margin: auto;
}

.about{
  width: 80%;
  margin: 40px;
}

.nav-link {
  float: right;
  color: #f2f2f2;
  background-color: tomato;
  text-align: center;
  padding-right: 20px;
  text-decoration: none;
  font-size: 20px;
}